body {
  height: fit-content;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  margin: 0;
}

footer, header{
  flex: 1;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: #3A0035;
  color: white;
  
}  

.main-content {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 5px;
  flex: 8;
  padding-left: 10px;
  padding-right: 10px;
}

aside {
  flex: 1;
  border: 2px solid #002C8C;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px;
}

.aside-select {
  flex: 2;
}

/* --------------pêle-mêle------------------- */

main {
  flex: 10;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border: 2px solid #002C8C;
  border-radius: 5px;
}

.image-cell {
  width: fit-content;
  min-width: 300px;
  height: 300px;
  border: 1px dashed red;
  margin: 10px;
}

img {
  width: 300px;
  height: auto;
}

.selected {
  border: 2px solid red;
}

/* ------------Selection d'images---------- */
.select-images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

.image-gauche {
  height: 100px;
  width: auto;
}




